//Tailles
$auto: auto;
$full: 100%;

//Couleurs
$white: rgb(235, 233, 233);
$bleu: rgb(33, 44, 97);
$noir: black;
$bc: rgb(206, 206, 206);
$green: rgb(55, 247, 173);
$rouge: red;

//Position
$centre: center;

//Typos
$h1: 35px;
$h2: 30px;
$h3: 25px;
$p: 20px;
$calibri: "calibri";
